<div class="container-fluid">
<nav class="navbar navbar-expand-ls navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">На сайт</a>
  <p>Приветствуем Вас в административной панели</p>
  <!--<a class="navbar-brand col-sm-3 col-md-1 mr-0" href="/admin">Админка</a>-->
    <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" (click)="logOut()">Выйти</a>
    </li>
  </ul>
</nav>
</div>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-lg-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./orders']">
              <span data-feather="file"></span>
              Заказы
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./products']">
              Продукты
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<!--<div>
  Admin page
</div>-->
<main role="main" class="ml-sm-auto col-lg-10 pt-3 px-4">
  <div>
  <div class="mobile">
    <button [routerLink]="['./orders']">Заказы</button>
    <button [routerLink]="['./products']">Продукты</button>
  </div>
  </div>

  <!--<h1>Админка</h1>-->

  <!--<p>Текущий курс доллара: </p>
  <p>Количество продуктов в базе: </p>
  <p>Количество текущих заказов: </p>-->
<router-outlet></router-outlet>
</main>
